*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,#2563eb,#06b6d4,#4f46e5,#0ea5e9);

background-size:400% 400%;

animation:bg 12s ease infinite;

}

@keyframes bg{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.login-container{

display:flex;

justify-content:center;

align-items:center;

width:100%;

padding:20px;

}

.login-card{

width:430px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(20px);

padding:40px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.25);

color:white;

animation:fade .8s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-card h1{

font-size:40px;

text-align:center;

margin-bottom:10px;

}

.subtitle{

text-align:center;

margin-bottom:30px;

color:#eef6ff;

}

.input-box{

position:relative;

margin-bottom:20px;

}

.icon{

position:absolute;

left:15px;

top:17px;

color:#666;

}

.input-box input{

width:100%;

padding:15px 45px;

border:none;

border-radius:12px;

font-size:16px;

background:white;

color:#222;

}

.input-box input::placeholder{

color:#777;

}

.eye{

position:absolute;

right:15px;

top:16px;

cursor:pointer;

color:#555;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#0f172a;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1e293b;

transform:translateY(-3px);

}

.error{

background:#ff4d4d;

padding:10px;

border-radius:8px;

margin-bottom:20px;

text-align:center;

}

.demo-users{

margin-top:30px;

}

.demo-users h3{

text-align:center;

margin-bottom:15px;

}

.account{

background:rgba(255,255,255,.15);

padding:12px;

border-radius:12px;

margin-bottom:12px;

}

.account p{

margin-top:5px;

font-size:14px;

color:#e6e6e6;

}